<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @device.token %>
</p>

<p>
  <b>System:</b>
  <%= @device.system %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
